{
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "env": {
    "es2020": true
  },
  "extends": ["react-app", "eslint:recommended"],
  "rules": {
    "no-var": "error",
    "no-multiple-empty-lines": "error",
    "eqeqeq": "error",
    "no-unused-vars": "warn"
  }
}
